.App {
  background-color: white;
}

.Auth-form-container {
  background-color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-Dashboard-container{
  background-color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-bottom: 50px;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: rgb(235, 192, 76);
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.Dashboard-form-container {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.Dashboard-main {
  background-color: bisque;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.Create-form-container {
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.walletData {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0d6efd;
}

input + .slider {
  background-color: #dc3545;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0d6efd;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.creditLabel {
  margin-left: 10px;
}

.credit {
  display: flex;
  align-items: center;
}

.errorMessage {
  color: #dc3545;
}

.footerDiv {
  margin-top: 10px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.MuiPaper-rounded {
  width: 90%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.subContainer {
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tableData {
  margin-left: 90px;
  width: 90vw;
}

.barData {
  margin-left: 90px;
}

.rdrDefinedRangesWrapper{
width: 0px !important;
}

@media only screen and (max-width: 600px) {
  .subContainer {
    flex-wrap: wrap;
  }
  .calenderDiv{
    margin-left: 10%;
    height: 500px;
    margin-top:50px;
  }
  .barData{
    margin-left: -10px;
  }
}
